<div id="view-feed-container">
<h1><%= @feed.name %></h1>
<div class="main-layout-right">
<% @articlesByDate.each_key do |date| %>
 <% if @articlesByDate[date].length > 0 %>
    <h2><%= date %></h2>
    <% @articles = @articlesByDate[date] %> 
      <ul>
         <% @articles.each do | article| %> 
         <li>
           <h3><%= article.title %></h3> 
          <%= article.description %>
          </li>
         <% end %> 
     </ul>
    <% end %>
<% end %> 
</div>
</div>
