<h1><%= @feed.name %> </h1> 
<ul>
    <% @articles.each do | article | %>
        <li>
            <h2><%= link_to article.title, article.link, target: "_blank" %> </h1>
            <p><%= article.description %></p>
        </li>
    <% end %> 
<li>