@import url('https://fonts.googleapis.com/css?family=Satisfy');
body {
    background: rgb(169, 175, 186);
    background: radial-gradient(circle, rgba(169, 175, 186, 1) 0%, rgba(135, 142, 153, 1) 100%, rgba(135, 142, 153, 1) 100%);
}
nav{
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}
nav ul{
    margin-top: 0; 
}

#flash-alert{
    margin-top: 70px;
    text-align: center;
    color:white; 
}