#view-account form input[type="radio"]{
    display: none; 
}
#view-account form input[type="radio"] + label{
    cursor: pointer;
}
#view-account form input[type="radio"]:checked + label img{
border: 2px solid #000;

}